@charset "UTF-8";

/* manageHome */
#manageHomeArea{
	margin:40px 0 40px 0;
	min-height: 58%
}

#manageTbl{
	width: 80%;
	margin:40px auto 40px auto;
	align-self:center;
	font-size: 15pt;
	border-spacing: 0px;
	border-collapse:collapse;
	font-weight: 500;
}

#manageTbl th{
	height: 90px;
	padding:15px;
	text-align: center;
	border:#eeeeee 6px solid;
	border-bottom:#98c5e4 7px solid;
	border-top:#98c5e4 7px solid;
}

#manageTbl td{
	height: 90px;
	padding:15px;
	font-size: 14pt;
	text-align: center;
	border:#eeeeee 6px solid;
	border-bottom:#98c5e4 7px solid;
	border-top:#98c5e4 7px solid;
}

.manageDelete{
	font-size: 13pt;
	font-weight: 600;
}

#manageHomeTitle{
	width: 80%;
	line-height:120px;
	background: #eeeeee;
	margin-left:auto; margin-right:auto;
	margin-bottom:15px;
}

#manageMenuBar{
	width: 80%;
	align-self:center;
	margin-left:auto; margin-right:auto;
	display:flex;
	justify-content: space-between;
	background: #98c5e4;
	radius:10px;
	padding:10px;
}

#managePaging{
	margin:0 0 0 5px;
	color:white;
	font-size:15pt;
	font-weight:600;
	align-self:center;
}

#allListBtn{
	font-size:14pt;
	font-weight:600;
	line-height:30px;
	color:white;
	padding:0 5px 0 5px;
	margin:auto;
}

#searchMenu{
	margin:0 5px 0 0;
	align-self:center;
	display:flex;
	justify-content: space-between;
}

#searchMenu .searchSelect{
	margin:5px;
}

#searchIcon {
	line-height:20px;
}

#searchMenu .searchBar{
	width:300px;
	height:30px;
	margin:5px;
	font-size:12pt;
}

#searchMenu .searchBtn{
	font-size:14pt;
	font-weight:600;
	line-height:30px;
	background-color:white;
	border-radius:2px;
	color:#98c5e4;
	padding:0 5px 0 5px;
	margin:auto;
}