@charset "UTF-8";

/* manageHome */
#manageHomeArea{
	margin:40px 0 40px 0;
	height: fill;
}

#manageTbl{
	width: 80%;
	margin:40px auto 60px auto;
	align-self:center;
	font-size: 15pt;
	border-spacing: 0px;
	border-collapse:collapse;
	font-weight: 500;
}

#manageTbl th{
	height: 80px;
	padding:15px;
	text-align: center;
}

#manageTbl td{
	height: 110px;
	padding:15px;
	font-size: 14pt;
	text-align: center;
}

.manageDelete{
	font-size: 13pt;
	font-weight: 600;
}

#manageHomeTitle{
	width: 80%;
	line-height:120px;
	background: #eeeeee;
	margin-left:auto; margin-right:auto;
	margin-bottom:15px;
}

#manageMenuBar{
	width: 80%;
	align-self:center;
	margin-left:auto; margin-right:auto;
	display:flex;
	justify-content: space-between;
	background: #98c5e4;
	radius:10px;
	padding:10px;
}

#managePaging{
	color:white;
	font-size:14pt;
	font-weight:600;
	align-self:center;
}

#searchMenu{
	align-self:center;
	display:flex;
	justify-content: space-between;
}

#searchMenu .searchSelect{
	margin:5px;
}

#searchMenu .searchBar{
	width:300px;
	height:30px;
	margin:5px;
	font-size:12pt;
}

#searchMenu .searchBtn{
	font-size:14pt;
	font-weight:600;
	color:white;
	margin:5px;
}