/*notice home*/

 #notice_Home{
	margin: 20px;
	padding: 30px;
 	height:700px;
 }
 
 .notice_Home{
 	display: flex;
 	justify-content: space-between;
 	background-color: #e5edf1;
 	align-items: center;
 	
 }
 
 .notice_title{
 	font-size: 30px;
 	margin-bottom: 15px;
 }
 
  .notice_writebtn{
 	border: 3px solid white;
 	border-top-width: thin;
 	font-size: 20px;
 	font-weight: bold;
 	height:30px;
 	border-radius : 4px;
 	margin-right: 10px;
 	transition: all ease 0.5s;
 }
 
  .notice_writebtn:hover{
  	background-color: #fff7d1;
 	transform: scale(1.1) ;
 	
 }


  .notice{
  	width: 100%;
  	text-align: center;
  	font-size: 20px;
  	padding: 10px 0px 10px 0px;
  	border-top: thick double #32a1ce;
  	border-bottom: thick double #32a1ce;
 
  }
  
  
  .notic_table_title{
  	font-size: 25px;
  	font-weight: bold;
  }
  
/* 공지사항 작성 */
   #notice_write{
	margin: 20px;
	padding: 30px;
 	height:700px;
 }
  
  .notice_write_title{
  	font-size: 35px;
 	margin-bottom: 15px;
  }
  
  .notice_write_input{
  	margin-bottom: 5px;
  }
  
  .notice_write_input_w{
  	font-size: 20px;
  	padding-left: 10px;	
  }
  
  .n_title{
  	margin-left: 35px;
  	height:30px;
  	width: 300px;
  }
  
 .notice_write_btn{
 	float :right;
 	border: 3px solid black;
 	border-top-width: thin;
 	font-size: 20px;
 	font-weight: bold;
 	height:30px;
 	border-radius : 4px;
 	margin: 10px;
 	transition: all ease 0.5s;
 }
 
  .notice_write_btn:hover{
  	background-color: #fff7d1;
 	transform: scale(1.1) ;
 	
 }
   
  #notice_write_btn{
  	 display: flex;
  	justify-content: space-between;
  }
 
/* 공지사항 수정페이지 */
  #notice_update{
	margin: 20px;
	padding: 30px;
 	height:700px;
 }
 
  .notice_update_title{
  	font-size: 35px;
 	margin-bottom: 15px;
  }
 
  .notice_update_smalltitle{
  	display: flex;
  	justify-content: space-between;
  }
  
   .notice_update_input{
  	margin-bottom: 5px;
  }
  
  .notice_update_input_w{
  	font-size: 20px;
  }
  
  #notice_update_Button{
  	 display: flex;
  	justify-content: space-between;
  }
  
   .notice_update_btn{
 	border: 3px solid black;
 	border-top-width: thin;
 	font-size: 20px;
 	font-weight: bold;
 	height:30px;
 	border-radius : 4px;
 	margin: 10px;
 	transition: all ease 0.5s;
 }
 
  .notice_update_btn:hover{
  	background-color: #fff7d1;
 	transform: scale(1.1) ;
 	}
 
 /* 공지사항 디테일페이지 */
  #notice_Detail{
	margin: 20px;
	padding: 30px;
 	height:700px;
  }
  
  .notice_title{
  	font-size: 35px;
  }
  
  .notice_Detail_title{
  	text-align: center;
  	border-bottom: thick double #32a1ce;
  	
  }
  
  .notice_Detail_smtitle{
  	font-size: 30px;
  	margin-top: 15px;
  	margin-bottom: 2px;
  }
  
  #notice_Detail_body{
  	height:400px;
  	border-bottom:3px solid black;
  	margin-bottom: 5px;
  }
  
  .notice_Detail_body{
  	display: flex;
  	justify-content: space-between;
  	margin-top: 10px;	
  	margin-bottom: 5px;
  	border-bottom:2px solid black;
  }
  
  .notice_Detail_bodytitle{
  	margin-left: 5px;	
  }
  
  #notice_Detail_Button{
  	display: flex;
  	justify-content: space-between;
  }
  
  .notice_Detail_Btn{
  	border: 3px solid black;
 	border-top-width: thin;
 	font-size: 20px;
 	font-weight: bold;
 	height:30px;
 	border-radius : 4px;
 	margin: 5px;
 	transition: all ease 0.5s;
  }
  
   .notice_Detail_Btn:hover{
  	background-color: #fff7d1;
 	transform: scale(1.1) ;
 	}
  
  
 