<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dog.HC.Yuchiwon.DiaryMapper">

<!-- diary -->

<select id="getAllDiary" resultType="com.dog.HC.Yuchiwon.diary">
	select * from mypet_table
	 where mp_tid = #{mp_tid}
		and mp_uid = #{mp_uid}
		and mp_uname = #{mp_uname}
		order by mp_no desc
</select>

<select id="getDiary" resultType="com.dog.HC.Yuchiwon.diary">
	select * from mypet_table where mp_no = #{mp_no}
</select>

<!-- 
<select id="getFiveDiary" resultType="com.dog.HC.Yuchiwon.diary">
	select * from mypet_table where mp_no <= 5;
</select>
 -->

<insert id="writeDiary" parameterType="com.dog.HC.Yuchiwon.diary">
	insert into MYPET_TABLE
	values(mypet_table_seq.nextval, #{mp_title}, #{mp_condition},
	#{mp_meal}, #{mp_defecate}, #{mp_supplies}, #{mp_txt},
	#{mp_da_no}, #{mp_tid}, #{mp_uid}, #{mp_uname},
	to_date(sysdate, 'yy.mm.dd'))
</insert>

<update id="updateDiary" parameterType="com.dog.HC.Yuchiwon.diary">
	update mypet_table
	set mp_title = #{mp_title}, mp_condition = #{mp_condition}
	, mp_meal = #{mp_meal}, mp_defecate = #{mp_defecate}
	, mp_supplies = #{mp_supplies}, mp_txt = #{mp_txt}
	where mp_no = #{mp_no}
</update>

<delete id="deleteDiary" parameterType="com.dog.HC.Yuchiwon.diary">
	delete from mypet_table where mp_no = #{mp_no}
</delete>

<!-- reply -->

<select id="getReply" parameterType="com.dog.HC.Yuchiwon.diary" resultType="com.dog.HC.Yuchiwon.diaryReply">
	select * from mypet_table_reply where r_mp_no = #{mp_no} order by r_no desc
</select>

<insert id="writeReply" parameterType="com.dog.HC.Yuchiwon.diaryReply">
	insert into mypet_table_reply
	values(mypet_table_reply_seq.nextval, #{r_mp_no}, #{r_owner}, #{r_txt}, sysdate)
</insert>
<delete id="deleteReply" parameterType="com.dog.HC.Yuchiwon.diaryReply">
	delete from mypet_table_reply where r_no = #{r_no}
</delete>


</mapper>