<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dog.HC.schoolmain.noticemapper">

	<select id="getAllnotice" parameterType="com.dog.HC.schoolmain.notice" resultType="com.dog.HC.schoolmain.notice">
		select rn, n_no,n_id,n_title,n_txt,n_date
		from (select Rownum as rn,n_no,n_id,n_title,n_txt,n_date
		from (select n_no,n_id,n_title,n_txt,n_date
		from notice_table
		order by n_date desc))
		where RN between #{n_da_no} and #{n_no}
	</select>

	<select id="getnotice" parameterType="com.dog.HC.schoolmain.notice" resultType="com.dog.HC.schoolmain.notice">
		select * 
		from notice_table
		where n_no = #{n_no}
	</select>
	
	<insert id="noticeWrite" parameterType="com.dog.HC.schoolmain.notice">
		insert into notice_table values(notice_seq.nextval,#{n_da_no},#{n_id},#{n_title},#{n_txt},sysdate)
	</insert>
	
	<delete id="noticeTDelete" parameterType="com.dog.HC.schoolmain.notice">
		delete from notice_table
		where n_no = #{n_no} and n_id=#{n_id}
	</delete>
	
	<delete id="noticeDDelete" parameterType="com.dog.HC.schoolmain.notice">
		delete from notice_table
		where n_no = #{n_no}
	</delete>
	
	<update id="noticeUpdate" parameterType="com.dog.HC.schoolmain.notice">
		update notice_table
		set n_title = #{n_title },n_txt=#{n_txt }
		where n_no = #{n_no}
	</update>
	
	<select id="getNoticeTotalCount" resultType="int">
		select count(*) from notice_table
	</select>
	
	<select id="getfivenotice"  parameterType="com.dog.HC.schoolmain.notice" resultType="com.dog.HC.schoolmain.notice">
		select rn, n_no,n_id,n_title,n_txt,n_date
		from (select Rownum as rn,n_no,n_id,n_title,n_txt,n_date
		from (select n_no,n_id,n_title,n_txt,n_date
		from notice_table
		order by n_date desc))
		where rn &lt; 6
	</select>
	
	
</mapper>