<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dog.HC.schoolmain.postscriptmapper">

	<select id="getAllpostscript" resultType="com.dog.HC.schoolmain.postscript">
		select * from postscript_table
	</select>
	
	<select id="getpostscript" resultType="com.dog.HC.schoolmain.postscript" parameterType="com.dog.HC.schoolmain.postscript">
		select * 
		from postscript_table
		where p_no = #{p_no}
	</select>
	
	<insert id="postscriptWrite" parameterType="com.dog.HC.schoolmain.postscript">
		insert into postscript_table values(notice_seq.nextval,#{p_da_no},#{p_id},#{p_title},#{p_txt},sysdate)
	</insert>
	
	<delete id="postscriptDelete" parameterType="com.dog.HC.schoolmain.postscript">
		delete from postscript_table
		where p_no = #{p_no}
	</delete>
	
	<update id="postscriptUpdate" parameterType="com.dog.HC.schoolmain.postscript">
		update postscript_table
		set p_txt = #{p_txt },p_title=#{p_title }
		where p_no = #{p_no}
	</update>

</mapper>