<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dog.HC.schoolmain.priceTagmapper">

	<select id="getAllpriceTag" resultType="com.dog.HC.schoolmain.priceTag">
		select * from priceTag_table
	</select>
	
	<select id="getpriceTag" resultType="com.dog.HC.schoolmain.priceTag" parameterType="com.dog.HC.schoolmain.priceTag">
		select * 
		from priceTag_table
		where p_no = #{p_no}
	</select>
	
	<insert id="priceTagWrite" parameterType="com.dog.HC.schoolmain.priceTag">
		insert into priceTag_table values(priceTag_table_seq.nextval,#{p_da_no},#{p_Dogkind},#{p_price},#{p_date})
	</insert>
	
	<delete id="priceTagDelete" parameterType="com.dog.HC.schoolmain.priceTag">
		delete from priceTag_table
		where p_no = #{p_no}
	</delete>
	
	<update id="priceTagUpdate" parameterType="com.dog.HC.schoolmain.priceTag">
		update  priceTag_table
		set p_price = #{p_price },p_date=#{p_date }
		where p_no = #{p_no}
	</update>
</mapper>